body {
  background-color: #f8f3f0;
}

.center {
  width: 700px;
  margin: 0 auto;
}

.center iframe {
  display: block;
  margin: 0 auto;
}

.topnav {
    overflow: hidden;
    background-color: #bd9d83;
    border-radius: 20px;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 28px 32px;
    text-decoration: none;
    font-size: 24px;
    border-radius: 20px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #f5e4e0;
    color: black;
    border-radius: 20px;
  }
  
  /* Style the "active" element to highlight the current page */
  .topnav a.active {
    background-color: #5a3b21;
    color: #f5e4e0;
    border-radius: 20px;
  }
  
  /* Style the search box inside the navigation bar */
  .topnav input[type=text] {
    float: right;
    padding: 12px;
    border: none;
    margin-top: 16px;
    margin-right: 32px;
    font-size: 17px;
    border-radius: 20px;
  }
  
  /* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
  @media screen and (max-width: 600px) {
    .topnav a, .topnav input[type=text] {
      float: none;
      display: block;
      text-align: left;
      width: 100%;
      margin: 0;
      padding: 14px;
    }
    .topnav input[type=text] {
      border: 1px solid #ccc;
    }
  }

h1 {
 margin: 15 auto;
 color: #f5e4e0; 
 font-size: 128px;
}

p {
  margin: 25px 50px;  
}

.title {
  text-align: center;
  display: block;
  background-color: #bd9d83;
  height: 300px;
  opacity: 0.8;
  border-radius: 20px;
}
